
@font-face {
  font-family: 'KurokaneStd-EB-AlphaNum';
  src: url('https://raw.githubusercontent.com/OldChatot/webfonts/master/KurokaneStd-EB-AlphaNum/KurokaneStd-EB-AlphaNum.eot?#iefix') format('embedded-opentype'),  url('https://raw.githubusercontent.com/OldChatot/webfonts/master/KurokaneStd-EB-AlphaNum/KurokaneStd-EB-AlphaNum.otf')  format('opentype'),
	     url('https://raw.githubusercontent.com/OldChatot/webfonts/master/KurokaneStd-EB-AlphaNum/KurokaneStd-EB-AlphaNum.woff') format('woff'), url('https://raw.githubusercontent.com/OldChatot/webfonts/master/KurokaneStd-EB-AlphaNum/KurokaneStd-EB-AlphaNum.ttf')  format('truetype'), url('https://raw.githubusercontent.com/OldChatot/webfonts/master/KurokaneStd-EB-AlphaNum/KurokaneStd-EB-AlphaNum.svg#KurokaneStd-EB-AlphaNum') format('svg');
  font-weight: normal;
  font-style: normal;
}
